/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 70px;
}

.header-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search {
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-icon {
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    margin-right: 8px;
}

.search-input {
    font-size: 16px;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    margin-right: 15px;
}

/* Navigation */
.navigation {
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 100;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.dropdown {
    position: relative;
    z-index: 150;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 200;
    background-color: #ffffff;
    border: 1px solid #ddd;
    min-width: 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 0;
}

.dropdown-item {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #e6f7ff;
    border-right: 3px solid red;
}

.dropdown-menu.show {
    display: block;
}

/* Carousel */
.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    z-index: 1;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.carousel-slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex !important;
    justify-content: center;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    flex: 1;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #f0f0f0;
}

.footer-section a {
    color: #ccc;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-section a:hover {
    color: #fff;
}

.footer-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
